<div class="container h-100">
  <div class="row no-gutters mt-4 mb-4">
    <div class="col-12">

      <div class="row no-gutters">
        <div class="col-12 mt-4 text-center" id="principal">
          <img class="img-fluid" id="gitimage" src="assets/img/logo.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-4">
          <h1 class="text-center">Listar issues GitHub</h1>
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>
</div>